<!--
  Generated template for the StoragePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> {{"GUSTOKOENAK" | translate}} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ul>
    <li *ngFor="let item of test | async">
      {{ item.email }}
    </li>
  </ul>
  <ion-segment [(ngModel)]="type" padding>

    <ion-segment-button value="albisteak">
      {{"ALBISTEAK" | translate}}
    </ion-segment-button>

    <ion-segment-button value="agenda">
      AGENDA
    </ion-segment-button>

  </ion-segment>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'albisteak'">
      <ion-item *ngFor="let item of newsitem" padding>
        <ion-slides>
          <ion-slide>
            <div>
              <img src="{{item.image.download}}" />

              <h2 text-wrap>
                {{item.title}}
              </h2>
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <p [innerHtml]="item.text.data" text-wrap></p>
            </div>
          </ion-slide>
        </ion-slides>

        <button ion-button (click)="removeNewsData(i)">
          <ion-icon name="trash"></ion-icon>
          {{"Ezabatu" | translate}}
        </button>
      </ion-item>


    </ion-list>
  </div>

  <div [ngSwitch]=" type">
    <ion-list *ngSwitchCase="'agenda'">
      <ion-item *ngFor="let item of eventitem">
        <ion-slides>
          <ion-slide>
            <div>
              <img src="{{item.image.download}}" />

              <h2 text-wrap>
                {{item.title}}
              </h2>
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <p [innerHtml]="item.text.data" text-wrap></p>
            </div>
          </ion-slide>
        </ion-slides>
        <button ion-button (click)="removeEventData(i)">
          <ion-icon name="trash"></ion-icon>
          {{"Ezabatu" | translate}}
        </button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>